In [9]:
from app.db.cm import get_session
from sqlalchemy import select
import app.db.models_registry 
from sqlalchemy.orm import Session
from sqlalchemy.engine import Row
from collections.abc import Sequence
from app.models.student import Student
from app.models.parent import Parent
from app.models.rate import Rate
from app.models.lesson import Lesson 
from app.cli.cli_helpers import print_join_table


def print_parents_with_students(rows: Sequence[Row]) -> None:
    print_join_table(
        rows=rows,
        columns=[
            lambda t: f"{t[0].forename} {t[0].surname}",
            lambda t: f"{t[1].forename} {t[1].surname}",
            lambda t: t[2].level,
            lambda t: t[2].hourly_rate
        ],
        headers=["Parent", "Student", "Level", "Rate (£/Hour)"]
    )

with get_session() as session:
    items = session.execute(select(Parent, Student, Rate).join(Parent.students).join(Student.rates)).all()

    print_parents_with_students(items)

Parent         | Student           | Level   | Rate (£/Hour)
---------------+-------------------+---------+--------------
Timothy Benson | Seth Strong       | GCSE    | 50.00
Matthew Kane   | Johnny Logan      | A-Level | 15.00
Matthew Kane   | Johnny Logan      | GCSE    | 40.00
Matthew Kane   | Allen Braun       | GCSE    | 15.00
Jennifer Blake | Jon Shepherd      | A-Level | 20.00
Lauren King    | Anthony Elliott   | A-Level | 40.00
Albert Murphy  | Billy King        | A-Level | 30.00
Albert Murphy  | Jacqueline Miller | A-Level | 40.00